// Font.
$font: (
  primary: (
    'Lato',
    sans-serif
  ),
  secondary: (
    'Comfortaa',
    serif
  )
);

// Palette.
$palette: (
  primary: #364b45,
  secondary: darken(#364b45, 15%),
  meta: lighten(#364b45, 20%),
  border: lighten(#364b45, 58%),
  bg: #f7f9fb,
  accent: #0072ff,
  accent-alt: #00c6ff,
  accent-purple: #b5267b,
  accent-purple-alt: #632695,
  accent-green: #49fcd4,
  accent-green-alt: #0098ee,
  accent-orange: #fe8c00,
  accent-orange-alt: #f83600
);

// @import url("https://fonts.googleapis.com/css?family=Comfortaa|Lato&display=swap");

@import 'imports/fonts';

@import 'imports/functions';

@import 'imports/reset';
@import 'imports/general';
@import 'imports/icons';
@import 'imports/structure';
@import 'imports/header';
@import 'imports/posts';
@import 'imports/sections';
@import 'imports/footer';
@import 'imports/palettes';
@import 'imports/banner';
