/**
 * Palettes
 * ----------------------------------------------------------------------------
 */

.palette-green {
  a {
    &:hover,
    &:focus {
      border-color: _palette(accent-green);
      color: _palette(accent-green);
    }
  }

  blockquote {
    border-color: _palette(accent-green);
  }

  button,
  input[type='submit'],
  input[type='button'],
  input[type='reset'],
  a.button {
    background: _palette(accent-green);
    border-color: _palette(accent-green);
    color: #fff;
  }

  .button.secondary {
    background: transparent;
    color: _palette(accent-orange-alt);

    &:hover,
    &:focus,
    &:active {
      background: _palette(accent-green);
      color: #fff;
    }
  }

  .button.white {
    background: #fff;
    border-color: transparent;
    color: _palette(accent-purple-alt);
    font-weight: bold;
  }

  .underline {
    &:after {
      border-color: _palette(accent-green);
    }
  }

  .icon-plus {
    background: _palette(accent-green);
  }

  .review-text {
    &:before {
      color: _palette(accent-green);
    }
  }

  .plan {
    &.highlight {
      .plan-inside {
        border-color: _palette(accent-green);
      }

      .button {
        background: _palette(accent-green);
        color: #fff;
      }
    }
  }

  .block {
    &.bg-accent {
      background: _palette(accent-green);
      background: -webkit-linear-gradient(left, _palette(accent-green), _palette(accent-green-alt));
      background: linear-gradient(to right, _palette(accent-green), _palette(accent-green-alt));
    }
  }
}
